include ../blocks/head/head.pug
+head('Главная')

body.frontpage
	.sprite
		include ../../public/images/sprite.svg
		
	include ../blocks/_mixins/_svgElement.pug

	script(src="js/plugins.js")
	script(src="js/main.js")