doctype
html(lang="ru")
	include ../blocks/_head/_head.pug
	+head('Главная')

	body.frontpage
		.sprite
			//- include ../../public/assets/sprite.svg

		include ../blocks/_mixins/_svgElement.pug


		include ../blocks/_mixins/_scripts.pug
		include ../blocks/_mixins/_styles.pug
		+styles('plugins')
		+scripts('plugins', 'main')
