doctype
html(lang="ru")
	include ../blocks/_head/_head.pug
	+head('Главная')

	body.frontpage
		.sprite
			//- include ../../public/assets/sprite.svg

		include ../blocks/_mixins/_svgElement.pug

		.sitemap
			.sitemap__block
				ul
					li
						a(href="front.html") Frontpage


		style.
			@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
			.sitemap {
				display: flex;
				flex-wrap: wrap;
				gap: 5%;
				width: 100%;
				max-width: 1300px;
				padding: 50px;
				margin: 0 auto;
				font-family: "Raleway", Arial, sans-serif;
			}
			
			.sitemap__block {
				margin-bottom: 40px;
			}

			@media(min-width: 1024px){
				.sitemap__block {
					width: 30%;
				}
			}
			
			.sitemap__block--full {
				width: 100%;
			}
			
			.sitemap__heading {
				margin: 0 0 25px;
			}
			
			.sitemap__list {
				list-style: initial;
			}
			
			.sitemap li+li {
				margin-top: 10px;
			}
			
			.sitemap a {
				text-decoration: none;
				color: #000;
				font-size: 16px;
			}
			
			.sitemap a:hover {
				text-decoration: underline;
			}
			
			.sitemap span {
				display: block;
				font-size: 16px;
				margin-top: 5px;
				color: #000;
				padding: 4px 0 4px 10px;
				border-left: 3px solid #000;
			}
			
			.new {
				color: red !important;
			}
			
			.del {
				text-decoration: line-through !important;
			}


		include ../blocks/_mixins/_scripts.pug
		include ../blocks/_mixins/_styles.pug
		+styles('plugins')
		+scripts('plugins', 'main')
