{
	"useTabs": true,
	"tabWidth": 4,
	"endOfLine": "lf",
	"bracketSpacing": true,
	"printWidth": 80,
	"trailingComma": "es5",
	"semi": true,
	"bracketSameLine": false,
	"htmlWhitespaceSensitivity": "css",
	"arrow-parens": "always",
	"quoteProps": "consistent",
	"vueIndentScriptAndStyle": true
}
