block variables

doctype
html(lang="ru")
	include ../blocks/_head/_head.pug
	+head(title)

	body
		main
			block content
		

		include ../blocks/_helpers/_scripts.pug
		include ../blocks/_helpers/_styles.pug
		+styles('plugins.min')
		+scripts('plugins.min', 'main.min')
