@mixin webfont($name, $fileName, $weight: normal, $style: normal) {
	@font-face {
		font-family: $name;
		src: url("../fonts/" + $fileName + ".woff2") format("woff2");
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
	}
}
