webfont(name, fileName, weight = normal, style = normal)
	@font-face
		font-family name
		src url('../fonts/' + fileName + '.woff') format('woff')
		src url('../fonts/' + fileName + '.woff2') format('woff2'),
			url('../fonts/' + fileName + '.ttf') format('truetype')
		font-weight weight
		font-style style

clearfix()
	&::after
		display block
		content ''
		clear both

ft(min, max)
	rem = (min/16)rem
	diff = (max - min)
	value = 'calc(%s + %s * (%s - %s) / %s)' % (rem diff 100vw 320px 990)
	font-size value
