@import 'helpers/mixins'

html
    box-sizing border-box

*, *::before, *::after
    box-sizing inherit

img
    max-width 100%
    height auto

.sprite
    display none

// @import '../blocks/_mixins/**/*.styl'
@import '../blocks/*/*.styl'