mixin svgElement(name, width, height)
	if(width || height)
		svg(width=width height=height)
			use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#"+name)
	else
		svg
			use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#"+name)
