mixin head(title)
	- var default_title = 'title'
	if title
		- var default_title = title

	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=Edge")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		title !{default_title}
		//-
		link(href="css/styles.css" rel="stylesheet")
		// Search Engine
		meta(name="description" content="_______________SiteDescription_______________")
		meta(name="image" content="logo.svg")
		meta(name="author" content="_______________authorName_______________")
		// Twitter
		meta(name="twitter:card" content="summary")
		meta(name="twitter:title" content="_______________SiteName_______________")
		meta(name="twitter:description" content="_______________SiteDescription_______________")
		meta(name="twitter:image:src" content="logo.svg")
		// Open Graph general (Facebook Pinterest & Google+)
		meta(name="og:title" content="_______________SiteName_______________")
		meta(name="og:description" content="_______________SiteDescription_______________")
		meta(name="og:image" content="logo.svg")
		meta(name="og:url" content="_______________example.ru_______________")
		meta(name="og:site_name" content="_______________SiteName_______________")
		meta(name="og:locale" content="ru_RU")
		meta(name="og:type" content="website")
		// FAVICON FOR EVERYBODY, FREE, AND LET NO ONE BE LEFT BEHIND!
		link(rel="author" href="/humans.txt")
